<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Come hotel - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='include.styles.css') }}">
</head>
<body>
    <header>
        <div class="header">
            <div class="logo__blob">
                <div class="header__blob">
                </div>
                <div class="logo"><a href="/">The hotel</a></div>
            </div>
            <a href="{{ url_for('login') }}"><span><div class="login_signup">Login / Signup</span></div></a>
        </div>
    </header>