*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
body{
    background-image: url('../static/images/comeHotel.jpg');
    background-size: cover;
    background-position: center;
}

.logo img{
    width: 200px;
    height: 80px;
}

.logo__text{
    display: none;
}

:is(.footer){
    padding: 10px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0.3px 0.5px 2px rgba(0, 0, 0, 0.525);
}

.header a{
    text-decoration: none;
}

a .login_signup{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 50px;
    transition: 250ms all ease-in-out;
}

.login_signup:hover{
    background-color: #8080806b;
    cursor: pointer;
}

.footer{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

@media (max-width:768px){
    body{
        background-image: none;
        background-color: #030333;
    }

    .header{
        justify-content: space-around;
        padding: 10px 0;
    }

    .header .logo{
        display: none;
    }
    
    .logo__text{
        display: flex;
        font-size: 25px;
        font-weight: 500;
    }
}

@media (max-width: 360px) {
    .header{
        justify-content: center;
    }

    .login_signup{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .footer .rights{
        font-size: 16px;
        font-family: 100;
    }
}

@media (max-width:255px) {
    a .login_signup{
        padding: none;
        border: none;
        outline: none;
        width: 100%;
        color: #0000ff;
        font-size: 16px;
    }
}