
<link rel="stylesheet" href="{{ url_for('static', filename='index.main.css') }}">
{% include "include/_Header.html" %}
<main class="index__main__section">
    <div class="index__main__desc">
        <h1 class="index__main__welcome">Welcome</h1>
        <div class="index__main__main__desc">
            <p>
                Your only <span>Come hotel</span> place to express yourself about us. <br><br>
                Leave a comment on our service as whole.
            </p>
        </div>
    </div>
</main>
{% include "include/_Footer.html" %}